In [3]:
import pandas as pd
import cv2
import numpy as np
import matplotlib.pyplot as plt

In [4]:

data = pd.read_csv("emnist-byclass-train.csv", nrows=5000)

In [5]:

data.head()

,35,0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,...,0.466,0.467,0.468,0.469,0.470,0.471,0.472,0.473,0.474,0.475
0,36,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,6,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,22,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,38,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
labelDictionary = {
    0: '0',
    1: '1',
    2: '2',
    3: '3',
    4: '4',
    5: '5',
    6: '6',
    7: '7',
    8: '8',
    9: '9',
    10: 'A',
    11: 'B',
    12: 'C',
    13: 'D',
    14: 'E',
    15: 'F',
    16: 'G',
    17: 'H',
    18: 'I',
    19: 'J',
    20: 'K',
    21: 'L',
    22: 'M',
    23: 'N',
    24: 'O',
    25: 'P',
    26: 'Q',
    27: 'R',
    28: 'S',
    29: 'T',
    30: 'U',
    31: 'V',
    32: 'W',
    33: 'X',
    34: 'Y',
    35: 'Z',
    36: 'a',
    37: 'b',
    38: 'c',
    39: 'd',
    40: 'e',
    41: 'f',
    42: 'g',
    43: 'h',
    44: 'i',
    45: 'j',
    46: 'k',
    47: 'l',
    48: 'm',
    49: 'n',
    50: 'o',
    51: 'p',
    52: 'q',
    53: 'r',
    54: 's',
    55: 't',
    56: 'u',
    57: 'v',
    58: 'w',
    59: 'x',
    60: 'y',
    61: 'z'
}

In [ ]:
imgNum = 164
img = np.array(data.loc[imgNum, "0":]).reshape(28, 28)
img = np.fliplr(img)
img = np.rot90(img)
label = np.array(data.loc[imgNum, "35"]).item()
print(labelDictionary[label])
plt.imshow(img, cmap="gray")

In [8]:
array = []
for i in range(5000):
    label = np.array(data.loc[i, "35"]).item() 
    if label < 36:
        array.append(i)

In [ ]:
import random
imgNum = array[1000]
img = np.array(data.loc[imgNum, "0":]).reshape(28, 28)
img = np.fliplr(img)
img = np.rot90(img)
label = np.array(data.loc[imgNum, "35"]).item()
print(labelDictionary[label])
plt.imshow(img, cmap="gray")

In [ ]:
test = np.array([[1, 2], [3, 4]])
print(max(test))